<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blackjack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EA18D8D1F820B6100069D64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EA18DA71F820B6200069D64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EA18DB21F820B6200069D64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
